/* html {
    box-sizing: border-box;
} */
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --background-color: #f5f5f5;
  --first-color: #212121;
  --secondary-color: #757575;
  --third-color: #2196f3;
  --fourth-color: #000000;
  --background-secondary-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --main-color: #ffffff;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --port-border-color: #EEEEEE;
  --social-color: #AFB1B8;
  --social-link-beck: rgba(255, 255, 255, 0.1)

}
body {
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0;
  }
  /* * img {
    margin: 0;
    border: 0;
    padding: 0; */
  /* } */
  a {
    text-decoration: none;
  }
  .container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    border-bottom: 1px solid #ECECEC;
  }

.header-nav {
  display: flex;
  align-items: center;
 /* border-bottom: 1px solid #ECECEC; */
}

.logo,
.studio {
  text-decoration: none;
  /* padding-top: 24px; */
}

.navi-list,
.connect-list,
.benefits-section,
.port-link,
.team-list,
.add-list,
.list-button,
.port-nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.link.current {
    color: var(--third-color);
}
/* .navi-list li {
    display: flex;
} */
.navi-link {
  color: var(--first-color);
  }

  .connect-link {
    color: var(--secondary-color);
  }
.navi-link:hover,
.navi-link:focus,
.connect-link:hover,
.connect-link:focus {
  color: var(--third-color);
}

.logo {
  color: var(--third-color);
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.studio {
  color: var(--fourth-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.navi-list {
  display: flex;
  /* padding-top: 32px;
  padding-bottom: 32px; */

  color: var(--first-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navi-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navi-list li {
  margin-right: 50px;
}
.navi-list li:last-child {
margin-right: 0;
}

.connect-list {
  display: flex;
  margin-left: auto;
  align-items: center;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


.connect-list li {
  margin-left: 50px;
}
.connect-list li:first-child {
  margin-left: 0;
}

.header-contact {
  display: flex;
  align-items: center;
  fill: var(--secondary-color)
}
.header-contact:hover,
.header-contact:focus {
  fill: var(--third-color);
}
.icon-contact {  
  margin-right: 10px;
}


.hero {
  background-color: var(--background-footer-color);
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  height: 600px;
  max-width: 1600px;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--main-color);
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.button-studio {
  cursor: pointer;
  background-color: var(--third-color);
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.benefits-icon {
  display: flex;
  background-color: var(--background-secondary-color);
  border-radius: 4px;
  justify-content: center;
  /* padding: 25px, 0px; */
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
align-items: center;
  
}

.b-i {

  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sort-section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* border-top: 1px solid #ececec; */
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-button li {
  margin-right: 8px;;
}
.list-button li:last-child {
  margin-right: 0px;
}

.port-nav {
  display: flex;
  flex-wrap: wrap;
}



.port-nav li {
  /* margin-right: 30px; */
  width: 370px;
  /* margin-bottom: 30px; */
  display: flex;
  flex-direction: column;
}

.port-nav li {
  flex-basis: calc((100% - 60px) / 3);
}

.port-nav li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.port-nav li:hover,
.port-nav li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port-nav li:nth-child(3n + 3) {
  margin-right: 0px;
}

.port-nav li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.port-nav-sort {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 24px;
padding-right: 24px;
border-left: 1px solid var(--port-border-color);
  border-right: 1px solid var(--port-border-color);
  border-bottom: 1px solid var(--port-border-color);
}
.button-link {
  font-family: inherit;
  cursor: pointer;
  background-color: var(--background-secondary-color);
  color: var(--first-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;


}

.button-link:hover,
.button-link:focus {
  cursor: pointer;
  background-color: var(--third-color);
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  box-shadow: 0 4px rgba(0, 0, 0, 0.25);
  /* float: left; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-section {
    display: flex;
    gap: 30px;
}
.benefits-section {
    flex-basis: ((100%-90px) / 4);
}

.feature-title {
  font-size: 0;
}
.benefits-title {
    margin-top: 0;
    margin-bottom: 10px;
  color: var(--first-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-text {
    margin-top: 0;
    margin-bottom: 0;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.portfolio {
padding-bottom: 94px;
}

.portf-title {
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.port-link {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.port-link li {
    margin-right: 30px;
}
.port-link li:last-child {
margin-right: 0px;
}

.team {
  background-color: var(--background-secondary-color);
padding-top: 94px;
padding-bottom: 94px;
}
.team-list {
    display: flex;
 margin-top: 50px;
 justify-content: center;
}
.team-list li {
    margin-right: 30px;
    display: flex;
    /* flex-direction: column; */
    /* width: 270px; */
}
.team-list li:last-child {
    margin-right: 0px;
}
.team-item {
    margin-right: 0px;
background: var(--main-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

.messengers {
  display: flex;
  /* padding-left: 32px; */
  padding: 0px;
  justify-content: center;
  align-items: center;
}
.messengers li {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--main-color); */
  fill: var(--social-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link:hover,
 .social-link:focus {
background-color: var(--third-color);
fill:var(--main-color);
}

.social-link-list {
  display: flex;
  /* fill: var(--social-color); */
}
/* .social-link-list:hover {
  background-color: var(--third-color);
  fill: var(--main-color); */
/* } */
.our-team {
  color: var(--first-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list-name {
    margin-top: 30px;
  color: var(--first-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list-title {
    margin-top: 10px;
    margin-bottom: 16px;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section {}

.client {
  padding-bottom: 0;
}

.container {}

.client-list {
  color: var(--first-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.client-link {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 92px;
}

.client-link li {
  margin-right: 30px;
}
.client-link li:last-child {
  margin-right: 0;
}
.client-link-item {
  list-style: none;
}

.client-list-item {
  display: flex;   
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: var(--social-color);
}

.client-list-item:hover,
.client-list-item:focus {
  fill: var(--third-color);
  border: 1px solid #2196f3;
}

.client-logo {
  width: 106px;
  height: 60px;
}



.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.align {
  display: flex;
}
.footer-container {
  /* width: 231px; */
  /* display: flex; */
}
footer-container
/* .address {
  /* display: flex; */
/* } */ */
.add-list {
    margin-top: 20px;
}
.add-list li {
    margin-bottom: 9px;
}
.add-list li:last-child {
    margin-bottom: 0;
}

.studio-footer {
  color: var(--main-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.address {
  color: var(--main-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address > .add-list {
  margin-top: 20px;
}
.address,
.mail,
.tel {
  text-decoration: none;
}
.mail,
.tel {
  color: var(--footer-mail-tel-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address:hover,
.address:focus,
.mail:hover,
.maol:focus,
.tel:hover,
.tel:focus {
  color: var(--third-color);
}


/* .footer-messenger {
  /* display: flex; */
  /* margin: 0;
  padding: 0;
    text-align: center;
      align-items: center;
      margin-right: 70px;
      margin-top: 8px;
} */ 
/* .footer-container a{
  mb20
} */
.footer-messenger {
  margin-left: 70px;
  margin-top: -12px;
}
.footer-social {
  display: block;
    text-align: center;
    align-items: center;
}

.footer-client-list {
color: var(--main-color);
font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
 font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
list-style-type: none;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
}

.footer-social-link-item {
  /* width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff; */
  margin-right: 10px;
}

.footer-social-list-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-link-beck);
  fill: var(--main-color);
  justify-content: center;
  align-items: center;
}
.footer-social-list-item:hover,
.footer-social-list-item:focus {
  background-color: var(--third-color)
}

.footer-social-logo {
  display: flex;
}

.main-portfolio {
  font-size: 0;
}

.sorting {
  color: var(--first-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.sorting-name {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
